<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>可复用的过渡</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>


</head>

<body>
    <div id="dynamic-fade-demo" class="demo">
            Fade In: <input type="range" v-model="fadeInDuration" min="0" v-bind:max="maxFadeDuration">
            Fade Out: <input type="range" v-model="fadeOutDuration" min="0" v-bind:max="maxFadeDuration">
          
    </div>
    <script>
        // 过渡可以通过Vue的组件实现复用。要创建一个可复用的组件，你需要做的就是将transition或者<transition-group>作为根组件，然后将子组件放置在其中就可以了
        // 使用template的简单例子

    </script>
</body>

</html>