<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>多个组件的过渡</title>
    <style>
        .component-fade-enter-active,
        .component-fade-leave-active {
            transition: opacity .3s ease;
        }

        .component-fade-enter,
        .component-fade-leave-to
        /* .component-fade-leave-active for below version 2.1.8 */

            {
            opacity: 0;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>

<body>
    <div id="transition-components-demo">
        <label for="one">A</label>
        <input type="radio" id="one" value="v-a" v-model="view">
        <label for="two">B</label>
        <input type="radio" id="two" value="v-b" v-model="view">
        <p>{{view}}</p>
        <transition name="component-fade" mode="out-in">
            <component v-bind:is="view"></component>
        </transition>
    </div>
    <script>
        new Vue({
            el: "#transition-components-demo",
            data: {
                view: 'v-a'
            },
            components: {
                'v-a': {
                    template: "<div>Component A</div>"
                },
                'v-b': {
                    template: '<div>Component B</div>'
                }
            }
        })
    </script>

</body>

</html>